* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1,
h2 {
    line-height: 1.2;
}

header {
    display: flex;
    flex-direction: column-reverse;
}
header nav {
    padding: 1rem;
    color: aliceblue;
    background-color: #557ACE;
}
header img {
    margin-left: 3rem;
}

header h1 {
    margin-right: 3rem;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: #242e0c;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 2px solid #999CA4;
    background-color: #f9f9f9;
    border-radius: 8px;
}

header section{
    color: #041C52;
    background-color: #999CA4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 4rem 1rem;
    background-image: linear-gradient(to bottom right, #999CA4, #f9f9f9); 
    
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0;
    align-self: center;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}
.hero article,
aside {
    border: 2px solid black;
    padding: 2rem;
    border-radius: 6px;
}
.hero article h2 {
    margin-bottom: 1rem;
}
ul {
    list-style: disc;
    padding: 1rem;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

iframe {
    border: 3px solid black;
    padding: 2rem;
    background-color: #557ACE;
}

footer {
    display: flex;
    flex-direction: column;
    
}
footer {
    text-align: center;
    padding: 1rem;
    color: #f9f9f9;
    background-color: #557ACE;
}
footer a {
    text-decoration: none;
    color: #f9f9f9;
    margin-top: auto;
}