* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to bottom right, #999CA4, #f9f9f9); 
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
  background-image: url('images/alps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  font-family: "UnifrakturCook";
}
p,
li,
table {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #557ACE; 
}

header img {
    margin-left: 3rem;
}

header h1 {
    margin-right: 3rem;
    font-size: 4rem;
}
nav button {
    margin-left: 1rem;
}
header section{
    color: #041C52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 4rem 1rem;   
}

main {
    max-width: 1400px;
    margin: 0;
    align-self: center;
}

.hero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

.hero article,
aside {
    border: 2px solid black;
    padding: 2rem;
    border-radius: 6px;
}

.hero article h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    padding: 1rem;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

iframe {
    border: 3px solid black;
    padding: 2rem;
    background-color: #557ACE;
    width: 840px;
    height: 472px;
}

.events h2 {
    margin-top: 2rem;
}

.evenys div {
    gap: 2rem;
}

.events div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    border: 3px solid #041C52;
    border-radius: 6px;
    background-color: #557ACE;
}

table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

th,
td {
    padding: 10px 38px;
}

th {
    background-color: #557ACE;
}

td {
    border: 2px solid #041C52;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
}
 
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: #f9f9f9;
    background-color: #557ACE;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: #242e0c;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 2px solid #999CA4;
    background-color: #f9f9f9;
    border-radius: 8px;
}

@media (max-width: 985px) {
.hero {
    display: flex;
    flex-direction: column;
}
.hero article,
aside {
    border: none;
    border-radius: none;
}
iframe {
    width: 600px;
    height: 400px;
    margin-bottom: 1rem;
}
.video {
    padding: 0rem;
}
footer {
    text-align: center;
}
}

@media (max-width: 768px){
form{
    width: auto;
}
iframe {
    width: auto;
    height: auto;
}
header section{
    display: flex;
    flex-direction: column;
    justify-content: center;
   } 
header img {
    margin-left: 0rem;
}
header h1 {
    margin-right: 0rem;
    align-items: center;
    padding: 1rem 3rem;
    text-align: center;
}
.events div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    border: 3px solid #041C52;
    border-radius: 6px;
    background-color: #557ACE;
}
.events div div a img {
    width: 300px;
}
iframe {
    border: none;
    padding: 1rem;


}
}

